html
    head
        link(rel="stylesheet", href="/css/styles.css")
    main
        if user
            h1 Welcome #{user.firstname} #{user.lastname}!
        else
            h1 Connectez-vous ou créez un compte:
            div.alignement
                a(href="/api/login") Log in
                a(href="/api/signUp") Sign up

        if(posts.length === 0)
            p Aucun article!
        else
            h2 ***** Articles *****
            div.verticalFlow
                for post in posts
                    article.horizontalFlow
                        div
                            form(method="post", action="/api/post/" + post.id + "/upvote")
                                button(type="submit") upvote
                            form(method="post", action="/api/post/" + post.id + "/downvote")
                                button(type="submit") downvote
                        div
                            h1 #{post.title}
                            p #{post.score}


        p Ajouter un article:
        form.verticalFlow(method="post", action ="/api/post")
            input(type="text", name="title", placeholder="Titre")
            button(type="submit") Envoyer
