main, body{
    text-align: center;
}
.verticalFlow{
    display: inline-grid;
}
.horizontalFlow{
    display: inline-flex;
}
.horizontalFlow div{
    margin: 0 20px;
}
.horizontalFlow div form{
    margin: 0;
}



input, button{
    margin: 10px 0;
}
a{
    margin-left:20px;
}